{% extends "dashboard.html" %}

{% block mozillian_interests %}
<div class="two columns align-right">
  <a href="#" class="small white button nice radius"
      data-reveal-id="interests-modal">Edit interests</a>
  {% if interestform.tracked_functional_areas.errors %}
    <small class="error top-margined">
      Please mark your interests.
    </small>
  {% endif %}
</div>
{% endblock %}


{% block body_content %}
{% if not tracked_interests %}
  <div class="dashboard-box">
    <div class="row">
      <div class="twelve columns">
        <p>
          To track activities of Reps, click on "Edit interests" to select interests.
        </p>
      </div>
    </div>
  </div>
{% else %}
  <div id="people-filter" class="two columns">
    <select id="people-filter-selector">
      <!-- Todo: Filter to only show People, Reports
            and Activities based on the people filter value -->
      <!-- Todo: Style this filter using the custom dropdown -->
      <option value="all">All</option>
      <option value="mentees">My mentees</option>
      <option value="mine">Mine</option>
    </select>
  </div>

  <dl class="tabs top-margined">
      <!-- Selecting the All tab will display People and Activities from all interests -->
      <dd>
        <a href="#All" class="active">
          All
        </a>
      </dd>
    {% for key, reps in tracked_interests|dictsort %}
      <dd>
        <a href="#{{ key|replace(" ", "") }}">
          {{ key }}
        </a>
      </dd>
    {% endfor %}
  </dl>

  <ul class="tabs-content">
    {% for key, reps in tracked_interests|dictsort %}
      <li {% if loop.first %}class="active"{% endif %} id="{{ key|replace(" ", "") }}Tab">
      <!-- people block -->
      <div class="dashboard-box">
        <div class="row">
          <div class="seven columns">
            <h4>People</h4>
          </div>  
        </div>

        <div class="row">
          <!-- people grid block -->
          <div class="dashboard-mozillians-reps-grid-block">
            {% if reps %}
              <ul class="block-grid four-up">
                {% for rep in reps %}
                  <li>
                    <a href="{{ url('profiles_view_profile', rep|get_display_name)}}">
                      <div class="panel dashboard-mentee">
                        <img src="{{ rep|get_avatar_url(50) }}"
                             class="profiles-people-avatar"
                             alt="avatar">
                        <h6>{{ rep.get_full_name() }}</h6>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <div class="align-right">
                <a href="#" data-reveal-id="mail-reps-modal"
                   class="small white button nice radius">Email Reps</a>
              </div>
            {% else %}
              <div class="row">
                <div class="twelve columns no-bugs">
                  <p>No Reps found with the specified interest!</p>
                </div>
              </div>
            {% endif %}
          </div>
          <!-- end people grid block -->
        </div>
      </div>
      <!-- end people block -->

      <div class="dashboard-box">
        <div class="row">
          <div class="seven columns">
            <h4>Activities</h4>
          </div>  
        </div>

        <!-- Activities filters -->
        <div class="row">
          <form class="custom twelve columns" id="dashboard-searchform">
            <div class="seven columns">
              <select id="activities-period-selector">
                <option value="future">Current and Future</option>
                <option value="past-month">Past month</option>
                <option value="past-6months">Past 6 months</option>
                <option value="custom">Custom</option>
              </select>
              <span id="adv-search-icon-dashboard" title="Advanced Options" class="pictogram-button one columns">
                (
              </span>
            </div>
          </form>
        </div>

        <!-- Advanced search box -->
        <div class="row hidden" id="adv-search">
          <div class="twelve columns">
            <div class="row">
              <form class="custom" id="searchform">
                <div class="three columns">
                  <input type="text" class="datepicker input-text big"
                         id="date-start" placeholder="Start Range Date"/>
                </div>
                <div class="three columns">
                  <input type="text" class="datepicker input-text big"
                         id="date-end" placeholder="End Range Date"/>
                </div>
                <div class="three columns">
                  <select id="adv-search-country" class="expand">
                    <option value="">All Countries</option>
                    <!-- Todo: Make list of countries available in this template -->
                    <!-- Todo: When a country is selected, only show Reports and Events for that country -->
                    {% for country in countries %}
                      <option value="{{ country|lower }}">{{ country }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="dashboard-box">
          <div class="row">
            <div class="seven columns">
              <h5>Reports</h5>
            </div>  
          </div>
        </div>

        <!-- reports list block -->
        <div class="row">
          <div class="dashboard-mozillians-reps-reports-block">
            {% if reps_reports[key] %}
              <table class="dashboard-table">
                <thead>
                  <tr>
                    <th class="dashboard-clickable type-string">Name</th>
                    <th class="dashboard-clickable type-string">Last Report</th>
                    <th class="dashboard-clickable type-string">Reports Completed</th>
                    <th class="dashboard-clickable type-string">Reports Completed <br /> during time period</th>
                    <th class="dashboard-clickable type-string">Events Attended</th>
                    <th class="dashboard-clickable type-string">Events Attended<br /> during time period</th>
                  </tr>
                </thead>
                <tbody>
                  {% for report in reps_reports[key] %}
                    <tr>
                      <td>
                        <a href="{{ url('profiles_view_profile',
                                    report.user|get_display_name) }}">
                           {{ report.user.get_full_name() }}
                        </a>
                      </td>
                      <td>
                        <a href="{{ report|get_report_view_url }}">
                           {{ report.month.strftime('%B %Y') }}
                        </a>
                      </td>
                      <td>
                        <!-- Todo: Calculate report metrics for the Rep in this row: total reports, 
                              total number of overdue reports, total number of empty reports  -->
                        <span class="has-tip tip-right" title="22 reports (2 overdue, 1 empty)">93%</span>
                        <!-- Todo:  Determine if the most recent report is empty. 
                              If so, display flag icon. -->
                        <!-- Todo: Show tool tip text as characters instead of pictograms  -->
                        <span class="pictogram dashboard-report-icon has-tip tip-right" title="Empty report">{</span>
                        <!-- Todo: Determine if the most recent report was filed late. 
                              If so, display clock icon and include the date of report in a tool tip. -->
                        <!-- Todo: Show the flag icon (&#246;), not the 'ö' character -->
                        <!-- Todo: Show tool tip text as characters instead of pictograms  -->
                        <span class="pictogram dashboard-report-icon has-tip tip-right" title="Filed April 8, 2013">&#246;</span>
                      </td>
                      <!-- Todo: Calculate recent report metrics for the Rep in this row based on the 
                              selected time period: reports, number of overdue reports, number of empty reports  -->
                      <td><span class="has-tip tip-right" title="6 reports (0 overdue, 0 empty)">100%</span≥</td>
                      <!-- Todo: Calculate number of contribute signups at all events that this Rep has attended -->
                      <td><span class="has-tip tip-right" title="18 contribute signups">23</span></td>
                      <!-- Todo: Calculate number of contribute signups at events that this Rep has
                             attended during the selected time period -->
                      <td><span class="has-tip tip-right" title="5 contribute signups">7</span></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="row">
                <div class="twelve columns no-bugs">
                  <p>No Reports found!</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <!-- end reports list block -->

      <!-- events block -->
      <div class="dashboard-box">
        <div class="row">
          <div class="seven columns">
            <h5>Events</h5>
          </div>
        </div>

        <!-- Event metics block -->
        <div class="row">
          <div class="seven columns">
            <div class="dashboard-events-contributor-signups five columns">
              <!-- Calculate the number of contributor signups during the selected people, time period and country -->
              <h5>28 <small>contributor signups</small></h5>
            </div>
            <div class="dashboard-events-attendees five columns">
              <!-- Calculate the number of average attendees at events for the selected people, time period and country -->
              <h5>63 <small>attendees on average 
                <a href="#" data-reveal-id="event-attendance-modal" class="dashboard-clickable pictogram" title="View attendance chart">
                  7
                </a>
              </small></h5>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Current and future events block -->
          <div class="dashboard-events-future-block">
            {% if reps_current_events[key] %}
              <table class="dashboard-table">
                <thead>
                  <tr>
                    <th class="dashboard-clickable type-string">Event Name</th>
                    <th class="dashboard-clickable type-string">Start Date</th>
                    <th class="dashboard-clickable type-string">End Date</th>
                    <th class="dashboard-clickable type-string">City</th>
                    <th class="dashboard-clickable type-string align-center">Country</th>
                    <th class="dashboard-clickable type-string align-center">Owner</th>
                    <th class="dashboard-clickable type-int align-center">Contribute Signups</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in reps_current_events[key] %}
                    <tr>
                      <td>
                        <!-- Todo: If the event has budget or gear requests, show the expander button -->
                        <!-- Todo: Swap the expander button pictogram (rotate the arrow) when clicked -->
                        <span class="dashboard-clickable pictogram dashboard-events-expander-button" title="View event requests">
                          &#62;
                        </span>
                        <a href="{{ url('events_view_event', slug=event.slug) }}">
                           {{ event.name }}
                        </a>
                      </td>
                      <td>{{ event.start|format_datetime }}</td>
                      <td>{{ event.end|format_datetime }}</td>
                      <td>{{ event.city }}</td>
                      <td>{{ event.country }}</td>
                      <td>
                        <a href="{{ url('profiles_view_profile',
                                        event.owner|get_display_name) }}">
                           {{ event.owner.get_full_name() }}
                        </a>
                      </td>
                      <td>{{ event.converted_visitors }}</td>
                    </tr>
                    <!-- Todo: Check if an event has Budget or Swag requests. 
                          If so, include that information below.  -->
                    <tr class="dashboard-events-details-row hidden">
                      <th></th>
                      <th>Bug</th>
                      <th>Summary</th>
                      <th>Status</th>
                      <th>Whiteboard</th>
                    </tr>
                    <tr class="dashboard-events-details-row hidden">
                      <td></td>
                      <td><a href="#">123456</a></td>
                      <td>Budget request - Firefox OS hackathon</td>
                      <td>ASSIGNED</td>                    
                      <td>Approved</td>                   
                    </tr>
                    <tr class="dashboard-events-details-row hidden">
                      <td></td>
                      <td><a href="#">123457</a></td>
                      <td>Swag request - Firefox OS hackathon</td>
                      <td>ASSIGNED</td>                    
                      <td>Order Shipped</td>                   
                    </tr>

                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="row">
                <div class="twelve columns no-bugs">
                  <p>No events found for the specified interest!</p>
                </div>
              </div>
            {% endif %}
          </div>
          <!-- end Current and future events block -->

          <!-- Past events block-->
          <div class="dashboard-events-past-block hidden">
            {% if reps_past_events[key] %}
              <table class="dashboard-table">
                <thead>
                  <tr>
                    <th class="dashboard-clickable type-string">Event Name</th>
                    <th class="dashboard-clickable type-string">Start Date</th>
                    <th class="dashboard-clickable type-string">End Date</th>
                    <th class="dashboard-clickable type-string">City</th>
                    <th class="dashboard-clickable type-string align-center">Country</th>
                    <th class="dashboard-clickable type-string align-center">Owner</th>
                    <th class="dashboard-clickable type-int align-center">Contribute Signups</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in reps_past_events[key] %}
                    <tr>
                      <td>
                        <a href="{{ url('events_view_event', slug=event.slug) }}">
                           {{ event.name }}
                        </a>
                      </td>
                      <td>{{ event.start|format_datetime }}</td>
                      <td>{{ event.end|format_datetime }}</td>
                      <td>{{ event.city }}</td>
                      <td>{{ event.country }}</td>
                      <td>
                        <a href="{{ url('profiles_view_profile',
                                        event.owner|get_display_name) }}">
                           {{ event.owner.get_full_name() }}
                        </a>
                      </td>
                      <td>{{ event.converted_visitors }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="row">
                <div class="twelve columns no-bugs">
                  <p>No events found for the specified interest!</p>
                </div>
              </div>
            {% endif %}
          </div>
          <!-- end Past events block -->
        </div>
        <!-- end events block -->
      </div>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

{% block modals %}
<!-- mail reps reveal modal -->
{% if mentees_emails is not none %}
  <div id="mail-reps-modal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <p class="lead">Email Reps</p>
    <h6>Comming soon!</h6>
    <form id="email-mentees-form" method="post"
          action="{{ url('email_mentees') }}" class="custom">
      {{ csrf() }}
      {% for field in email_mentees_form %}
        {{field}} {{ field.label }}
        <br>
      {% endfor %}

      </div>
    </form>
  </div>
{% endif %}
<!-- mail reps reveal modal end -->

<!-- interests modal -->
<form class="custom" method="post"
      action="{{ url('dashboard') }}">
  {{ csrf() }}
  <div id="interests-modal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <p class="lead">
      Specify your interests in Functional areas you want to track
    </p>
    <h3>
      Functional Areas
    </h3>
    <ul class="block-grid three-up">
      {% for choice in interestform.tracked_functional_areas.field.choices %}
        <li>
        <label for="{{ choice.1 }}-bit">
          <input type="checkbox" name="tracked_functional_areas"
                 value="{{ choice.0 }}"
            {% if choice.0 in interestform.tracked_functional_areas.value() %}
              checked="checked"
            {% endif %}/>
          {{ choice.1 }}
        </li>
      {% endfor %}
    </ul>
    <button type="submit"
            class="small green button nice radius close-reveal-modal">
      choose these areas &raquo;
    </button>
    </a>
  </div>
</form>
<!-- interests modal end -->

<!-- event attendance reveal modal -->
<div id="event-attendance-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <p class="lead">Attendance size at events</p>
  <h6>Chart soon!</h6>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th class="">Attendance</th>
        <th class="">Number of events</th>
        <th class="">Percentage of events</th>
        <th class="">Number of contribute signups</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1-10</th>
        <th>3</th>
        <th>17%</th>
        <th>0</th>
      </tr>
      <tr>
        <th>11-50</th>
        <th>4</th>
        <th>22%</th>
        <th>2</th>
      </tr>
      <tr>
        <th>51-100</th>
        <th>8</th>
        <th>44%</th>
        <th>3</th>
      </tr>
      <tr>
        <th>101-500</th>
        <th>2</th>
        <th>11%</th>
        <th>4</th>
      </tr>
      <tr>
        <th>501-1000</th>
        <th>0</th>
        <th>0%</th>
        <th>7</th>
      </tr>
      <tr>
        <th>1001+</th>
        <th>1</th>
        <th>6%</th>
        <th>05</th>
      </tr>
      <tr>
        <th>Total</th>
        <th>18</th>
        <th>100%</th>
        <th>21</th>
      </tr>
    </tbody> 
  </table>

</div>
<!-- event attendance reveal modal -->
{% endblock %}  

{% block bottomextra %}
  {{ js('base_dashboard_mozillians') }}
{% endblock %}
